FeynCalc/FeynArts
FeynCalc/FeynArts/*
FeynCalc/Database/*.db
FeynCalc/Examples/Temp
FeynCalc/Examples/*/WIP
FeynCalc/Examples/WIP
FeynCalc/Database/*.start
FeynCalc/Database/*.m
FeynCalc/Database/*.py
FeynCalc/Database/*/*.m
FeynCalc/Database/*/*.config
FeynCalc/Database/*/*.py
FeynCalc/Database/*/*.start
FeynCalc/Database/*.nb
FeynCalc/Tarcer/*.mx
FeynCalc/AddOns/*
FeynCalc/Ignore*
FeynCalc/FCConfig.m
FeynCalc/Documentation/Markdown/img/*.pdf
FeynCalc/Documentation/Scripts/template.latex
build/*
.settings/*
.amateras
/.DS_Store
/.gitignore
