FeynCalc/FeynArts
FeynCalc/FeynArts/*
FeynCalc/Database/*.db
FeynCalc/Examples/Temp
FeynCalc/Examples/*/WIP
FeynCalc/Examples/WIP
FeynCalc/Database/*.start
FeynCalc/Database/*.m
FeynCalc/Database/*.nb
FeynCalc/Tarcer/*.mx
FeynCalc/AddOns/*
FeynCalc/Ignore*
FeynCalc/FCConfig.m
build/*
.settings/*
.amateras

/.DS_Store
/.gitignore
